<div class="card clipped-bot" style="margin: 0px;">
  <div class="card clipped">
    <div class="Beacon-header collapse-trigger" data-collapse-id="{{_uuid}}-attacks">
      {{localize "Beacon.chat-card.title.charge-roll"}}
    </div>
    <div class="dice-roll Beacon-dice-roll">
      <div class="dice-result">
        <div class="dice-formula Beacon-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">
            {{roll.formula}}
          </span>
          <span class="dice-total Beacon-dice-total major">
            {{roll.total}}
          </span>
          <i class="cci cci-reticule i--m i--dark"></i>
        </div>
        <div style="text-align: left;">
          {{{roll_tt}}}
        </div>
      </div>
    </div>
    <div class="card clipped">
      <div class="Beacon-header">
        {{localize "Beacon.chat-card.title.changes"}}
      </div>
      {{#each changed as |change key|}}
        <div class="Beacon-hit">
          <div></div>
          <div class="Beacon-hit-text">
            <span class="Beacon-hit-text-name">
              {{change.name}}
            </span>
            {{#if change.charged}}
              <span class="card clipped Beacon-charge-chip charged">
                {{localize "Beacon.chat-card.overcharge.charged" target=change.target}}
              </span>
            {{else}}
              <span class="card clipped Beacon-charge-chip">
                {{localize "Beacon.chat-card.overcharge.uncharged" target=change.target}}
              </span>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>