<div class="card clipped-bot" style="margin: 0px;">
  <div class="Beacon-header struct-stress clipped-top">
    {{#if rerollMacroData}}<span class="spacer"></span>{{/if}}
    <div class="flexcol">
      <span>{{localize "Beacon.chat-card.title.overheating"}}</span>
      <span style="align-self: center;">{{localize "Beacon.chat-card.remaining" total=val max=max}}</span>
    </div>
    {{#if rerollMacroData}}
    <a class="chat-button roll-overheating Beacon-macro" data-macro="{{rerollMacroData}}" title="Reroll this result">
      <i class="fas fa-dice-d20 i--m i--light"></i>
    </a>
    {{/if}}
  </div>
  {{#if roll}}
  <div class="dice-roll Beacon-dice-roll">
    <div class="dice-result">
      <div class="dice-formula Beacon-dice-formula flexrow">
        <span style="text-align: left; margin-left: 5px;">{{ roll.formula }}</span>
        <span class="dice-total Beacon-dice-total major">{{ total }}</span>
      </div>
      {{#if tt}}
      <div style="text-align: left;">
        {{{tt}}}
      </div>
      {{/if}}
    </div>
  </div>
  {{/if}}
  <div class="Beacon-stat-header clipped-top">{{title}}</div>
  <div class="effect-text">{{{text}}}</div>
  {{#if secondaryRoll}} {{{ secondaryRoll }}} {{/if}}
</div>
