<div class="card clipped-bot" style="margin: 0px;">
  <div class="Beacon-header ">{{localize "Beacon.chat-card.title.check" check=title}}</div>
    <div class="dice-roll Beacon-dice-roll">
      <div class="dice-result">
        <div class="dice-formula Beacon-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ roll.formula }}</span>
          <span class="dice-total Beacon-dice-total major">{{ roll.total }}</span>
        </div>
        <div style="text-align: left;">
          {{{ roll_tooltip }}}
        </div>
      </div>
    </div>
    {{#if effect}}
      <header>{{localize "Beacon.chat-card.title.effect"}}</header>
      {{{ effect }}}
    {{/if}}
</div>

